@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&family=Sometype+Mono:wght@400;500;700&display=swap");
:root {
  --custom-font-family: "Sometype Mono", monospace;
  --sp: 1s; /* change speed */
  --bg: #3884ff45; /* change color */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  width: 100%;
  height: 100dvh;
  font-family: "Nunito", sans-serif;
}

.container {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  padding: 20px 40px;
}

.header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 10em;
}

.header h1 {
  color: rgb(230, 11, 11);
}

.svgContainer {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 5px 5px rgb(176, 176, 176);
}

.socMed {
  display: flex;
  color: white;
  gap: 20px;
}

.divider {
  display: flex;
  margin: 20px 80px;
  &:before,
  &:after {
    content: "";
    flex: 1;
    /* min-width: 300px; */
  }
}

.line {
  align-items: center;
  &:before,
  &:after {
    height: 2px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: black;
  }
}

form {
  width: 100%;
}

.date-search {
  width: 100%;
  background-color: orange;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px rgb(36, 36, 36);
}

.date-search input {
  border: none;
  outline: none;
  height: 2.5em;
  width: 80%;
  font-size: 20px;
  padding-inline: 20px;
}

.button-search {
  background-color: rgb(80, 80, 186) !important;
  width: 20% !important;
  color: white;
  padding: 0 !important;
}

.options {
  padding: 10px 0px;
  display: flex;
  /* background-color: red; */
  align-items: center;
}

.options input {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  margin-top: 20px;
  gap: 20px;
}

.grid-item {
  grid-column: span 1;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 5px 5px rgb(73, 73, 73);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item label {
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-title {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  transform: translateY(100px);
  background-color: rgb(4, 4, 4);
  opacity: 0.8;
  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
}

.grid-item:hover .img-title {
  transform: translateY(0px);
}

.grid-item input {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 10px;
  right: 10px;
  top: 10px;
}

.grid-item .img-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(70, 70, 70);
  border-radius: 50px;
  cursor: pointer;
}

.grid-item .img-title span:hover {
  background-color: rgb(255, 97, 97);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}
.btn-wrapper-div {
  position: absolute;
  top: 0;
  right: 0;
}
/* Animation */
.spinner {
  color: rgb(93, 93, 93);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
}

.spinner:after {
  animation: changeContent 0.8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}
.toolbar-container {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.toolbar {
  display: flex;
  background-color: rgb(80, 80, 186);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0px rgb(0, 0, 0);
  color: white;
  position: absolute;
  transition: 0.5s ease all;
}

.toolbar-main {
  width: 4rem;
  height: 4rem;
  z-index: 500;
}

.toolbar-upload {
  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 152, 51);
  font-size: 2rem;
  z-index: 10;
  transition-delay: 0.3s;
}

.toolbar-delete {
  width: 3rem;
  height: 3rem;
  background-color: rgb(240, 94, 94);
  z-index: 10;
  transition-delay: 0.1s;
}

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: 500px;
  z-index: 200;
  background-color: rgb(254, 254, 254);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-popup {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}

.modal label {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  font-size: large;
  margin-block: 10px;
}

.modal label > span {
  font-weight: lighter;
  font-size: small;
  padding-top: 0.5rem;
}

.modal input {
  display: none;
}

.imageSet {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  width: 100%;
  background-color: rgb(225, 225, 225);
  height: 100%;
}

.imageSet > div {
  width: 80px;
  height: 80px;
}

.imageSet > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .divider {
    margin: 20px 0px;
  }
  .svgContainer {
    padding: 5px;
  }
  .socMed {
    gap: 5px;
  }
  .container {
    padding: 20px 0px;
  }
  .grid-container {
    grid-auto-rows: 200px;
  }
  .img-title {
    font-size: 0.7rem;
  }
  .img-title span {
    padding: 2px !important;
  }
}

@media screen and (max-width: 500px) {
  .date-search input {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 20px;
  }

  .header {
    padding: 10px 20px;
  }

  .header img {
    width: 6.5em;
  }

  .container {
    width: 100%;
    padding: 20px 0;
  }

  form {
    width: 90%;
  }
  .grid-container {
    grid-auto-rows: 100px;
    gap: 2px;
  }
  .grid-item {
    box-shadow: none;
    border-radius: 2px;
  }
  .img-title {
    display: none;
  }
  .options {
    padding-inline: 20px;
    font-size: 0.7rem;
  }
}
